.board-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}